<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
</head>
<body style="padding:60px">
<h1 class="display-3 text-center">Products Table</h1>
<nav class ="navbar fixed-top navbar-light bg-faded">
    <div class="navbar-brand"><form class="form-inline" action="#" th:action="@{/logout}" method="post"><div th:inLine="text">Hello, [[${#httpServletRequest.remoteUser}]]&nbsp;&nbsp;</div><a href="/"><input type="submit" value="Sign Out"/></a><a href="/">&nbsp;&nbsp;<input type="button" value="Home"/></a></form></div>
</nav>
<form action="#" th:action="@{/products}" th:object="${productList}" method="post">
    <div class="container mx-auto" style="width: 500px;">
        <table class="table table-bordered table-hover">
            <thead class="thead-inverse">
            <tr>
                <th sec:authorize="hasRole('ADMIN')"></th>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td sec:authorize="hasRole('ADMIN')"><input type="checkbox" name="deleteMe" th:value="${product.id}"/></td>
                <td><a th:text="${product.id}" th:href="@{'/product/'+${product.id}}"></a></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.brand}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="text-center"><a href="/product"><input type="button" value="Add Product"/></a> <input sec:authorize="hasRole('ADMIN')" type="submit" value="Delete Checked Products" onclick="return confirm('Are you sure you want to delete selected products?');"/> </p>
</form>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>